---
import '../styles/global.css';
import svgLogo from '../images/logo-en.svg'; 
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Astro</title>
	</head>
	<body>
		<!-- top gray bar -->
		<div class="bg-un-light-gray py-2 border-b-4 border-b-un-blue pl-4 md:pl-24">
			<span class="text-sm">
				<svg xmlns="http://www.w3.org/2000/svg" class="h-4 w4 inline mr-1 mb-0.5" viewBox="0 0 20 20" fill="currentColor">
				<path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z" />
				</svg>Welcome to the United Nations
			</span>
		</div>
		<!-- un logo row -->
		<div class="container mx-auto py-10">
			<img src={svgLogo} alt="UN logo" class="w-72 border-r pr-5">
		</div>
		<h1>Astro</h1>
	</body>
</html>