---
import '../styles/global.css';
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Astro</title>
	</head>
	<body>
		<div class="bg-un-light-gray py-2 pl-24 border-b-4 border-b-un-blue">
		<span class="text-sm">Welcome to the United Nations</span>
		</div>
		<h1>Astro</h1>
	</body>
</html>