---
// Component Script (JavaScript)
// Logo and name, you can put search bar here too
const {title} = Astro.props;
---
<div class="flex content-center bg-gradient-to-r from-un-blue via-blue-600 to-un-blue text-white font-bold text-5xl min-h-[5em] px-10 mb-8">
   <div class="self-center">{title}</div>
</div>