---
// Component Script (JavaScript)
// Damn long h2
const {title} = Astro.props;
---
<h2 class="text-un-menu-dark font-bold font-titles mb-5 pb-3 border-b-[3px] border-un-blue text-2xl md:text-3xl">{title}</h2>