---
// Component Script (JavaScript)
// Logo and name, you can put search bar here too

import svgLogo from '../images/logo-en.svg';
---

<div class="py-10 flex flex-col md:flex-row">
    <img src={svgLogo} alt="UN logo" class="w-72 pr-5 md:border-black md:border-r">
    <div class="mt-2 pl-5 text-un-dark-gray font-bold font-titles text-xl md:text-3xl">
        United Nations<br>
        Center for Regional Development
    </div>
</div>