---
import "@fontsource/roboto-condensed"; 
import '../styles/global.css';
import TopGrayBar from '../components/TopGrayBar.svelte'; 
import LogoNameRow from '../components/LogoNameRow.svelte'; 
import MainNavMenu from '../components/MainNavMenu.svelte'; 
const {lang} = Astro.props;
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Astro</title>
	</head>
	<body>
		<!-- top gray bar -->
		<TopGrayBar lang={lang}/>
		<div class="container mx-auto">
			<!-- un logo row -->
			<LogoNameRow lang={lang}/>
			<!-- navigation -->
			<MainNavMenu lang={lang} client:load/>
            <!-- content goes here -->
            <slot/>
		</div>		
	</body>
</html>